/* ContactForm.module.scss */
.container {
  width: 80%;
  max-width: 600px;
  margin: 0 auto;

  & > h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
}

.contactForm label {
  margin-top: 10px;
  font-weight: bold;
}

.contactForm input,
.contactForm select,
.contactForm textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
}

.contactForm textarea {
  height: 100px;
  resize: none;
}

.contactForm button {
  margin-top: 20px;
  padding: 15px;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.chatButton {
  margin-top: 10px;
  padding: 15px;
  background-color: #fff;
  color: #000;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.chatButton:hover {
  background-color: #000;
  color: #fff;
}

.contactInfo {
  margin-top: 30px;

  & > p {
    display: flex;
    flex-direction: column;
    margin: 5px 0;

    & > strong {
      font-weight: 800;
      margin-bottom: 4px;
    }
  }

  a {
    text-decoration: underline;
    &:hover {
      text-decoration: underline;
    }
  }
}
